@page
@model LogoutModel
@{
    ViewData["Title"] = "Log out";
}

<header>
    <h1>Cerrar Sesión</h1>
    <div class="alert alert-success" role="alert">
        ¡Ha cerrado sesión de manera correcta!
    </div>
</header>